<div id="<%= dom_id report %>">
  <p>
    <strong><%= t('reports.common.poster') %>:</strong>
    <% if report.user.nil? %>
      退会したユーザー
    <% elsif report.user.name.present? %>
      <%= report.user.name %>
    <% else %>
      <%= report.user.email %>
    <% end %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:created_at) %>:</strong>
    <%= report.created_at %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:title) %>:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:body) %>:</strong>
    <%= report.body %>
  </p>

</div>
