<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<%= render @report %>

<div>
  <% if current_user.id == @report.user_id %>
    <%= link_to t('views.common.edit', name: Report.model_name.human.downcase), edit_report_path(@report) %> |
  <% end %>
  <%= link_to t('views.common.back', name: i18n_pluralize(Report.model_name.human.downcase)), reports_path %>

  <% if current_user.id == @report.user_id %>
    <%= button_to t('views.common.destroy', name: Report.model_name.human.downcase), @report, method: :delete %>
  <% end %>
</div>

<h2>Comments</h2>
<% @report.comments.each do |comment| %>
  <p>
    <strong>name:</strong>
    <% if comment.user.nil? %>
      退会したユーザー
    <% elsif comment.user.name.present? %>
      <%= comment.user.name %>
    <% else %>
      <%= comment.user.email %>
    <% end %>
  </p>

  <p>
    <strong>create_at:</strong>
    <%= comment.created_at %>
  </p>
  
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <% if current_user.id == comment.user_id %>
    <p>
      <%= link_to "Destroy Comment", [@report, comment], data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </p>
  <% end %>
<% end %>

<h2>Add a comment:</h2>
<%= form_with model: [ @report, @comment ] do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, required: true %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
