<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= params[:action] %>">
      <% if user_signed_in? %>
        <p><%= t('devise.common.logged_in_as', name: current_user.email) %></p>
        <%= link_to t('views.common.title_index', name: i18n_pluralize(User.model_name.human)), users_path %> |
        <%= link_to t('views.common.title_edit',  name: User.model_name.human.downcase), edit_user_registration_path %> |
        <%= link_to t('devise.common.logout'), destroy_user_session_path, data: { turbo_method: :delete } %>
      <% end %>
    <%= yield %>
  </body>
</html>
